<div id="login_background">
<section id="login_section">
<h1>Login</h1>
<br>
<%=form_tag "/sessions" do%>
    <%=label_tag :username%>
    <%=text_field_tag :username%><br><br>
    
    <%=label_tag :password%>
    <%=text_field_tag :password%><br><br>

    <%=submit_tag "Log in"%>
<% end %>
<br>
<p>New user? <%= link_to "Sign up now!", new_user_path %></p>
<br>
</section>
</div>


<footer id="footer">
    <div class="row">
        <div class="col-6 col-md">
            <h5>© Best Paw Forward</h5>
            <p>Copyright 2019 | All Rights Reserved</p>
        </div>


        <div class="col-6 col-md">
            <h5>Connect with us on Medium</h5>
            <a href="https://medium.com/@arieljakubowski" target="_blank">Ariel Jakubowski</a><br>
            <a href="https://medium.com/@smart_morning_star" target="_blank">Cindy Chen</a>
        </div>
    </div>
    <br>
    <p><a href="#">Back to top</a></p>
</footer>