<div id="login_background">
<section id="login_section">
<h1>Login</h1>
<%=form_tag "/sessions" do%>
    <%=label_tag :username%>
    <%=text_field_tag :username%><br><br>
    
    <%=label_tag :password%>
    <%=text_field_tag :password%><br><br>

    <%=submit_tag "Log in"%>
<% end %>

<p>New user? <%= link_to "Sign up now!", new_user_path %></p>
</section>
</div>


