<h1>Add a Pet</h1>
<br>
<%=form_for @pet do |f|%>
<%=f.label :name%>
<%=f.text_field :name%>
<br>
<%=f.label :species%>
<%=f.text_field :species%>
<br>
<%=f.label :name%>
<%=f.text_field :name%>
<br>
<%=f.submit%>
<% end %>


