
<h1>Add a Pet</h1>
<br>
<%=form_for @pet do |f|%>
<%=f.label :name%>
<%=f.text_field :name%>
<br><br>
<%=f.label :species%>
<%=f.text_field :species%>
<br><br>
<%=f.label :age %>
<%=f.text_field :age %>
<br><br>
<%=f.label :gender %>
<%=f.text_field :gender %>
<br><br>
<%=f.submit "Submit" %>

<% end %>

