<h1><%=@pet.name%></h1>
<p>Species: <%=@pet.species%></p>
<p>Age: <%=@pet.age%></p>
<p>Gender: <%=@pet.gender%></p>

<p>Belongs to: <%=@pet.user.name%></p>
<p><%=button_to "Delete", @pet, method: :delete%></p>

<%= link_to "Edit Pet Information",edit_pet_path(@pet) %><br><br>
<%= link_to "Book Appointment", new_appointment_path %><br><br>
<%= link_to "Back to User Homepage", user_path(@user) %><br><br>


