<h1><%=@pet.name%></h1>
<img src="<%=@pet.img_url%>" id="pet_pic">
<h3>Species: <%=@pet.species%></h3>
<h3>Age: <%=@pet.age%></h3>
<h3>Gender: <%=@pet.gender%></h3>

<h3>Belongs to: <%=@pet.user.name%></h3>

<%if @pet.lessons.count > 0%>
<h2><%=@pet.name%>'s Classes</h2>
<%@pet.lessons.each do |lesson|%>
<%=lesson.name%>
<br>
<% end %>
<%else%>
<h2><%=@pet.name%> has not taken any classes</h2>
<% end %>

<br><br>
<%= button_to "Edit Pet Information",edit_pet_path(@pet), :method => :get %>
<%= button_to "Book Appointment", new_appointment_path, :method => :get %>
<%=button_to "Delete", @pet, method: :delete%>



