<div id="login_background" >
<div class="new_user">
<h1>Create account</h1>

<div id="user_form" >
<%=form_for @user do |f|%>
<%=f.label :name%>
<%=f.text_field :name%>
<br>
<%=f.label :username%>
<%=f.text_field :username%>
<br>
<%=f.label :password%>
<%=f.password_field :password%>
<br><br>
<%=f.submit "Sign up"%>
<% end %>
</div>
</div>
</div>