<h1><%=@user.name%>'s Pets</h1>
<br>

<%@user.pets.each do |pet|%>
<div>
<h2><%=link_to pet.name, pet_path(pet)%></h2>
<h3>Age: <%=pet.age%></h3>
<h3>Species: <%=pet.species%></h3>
<h3>Gender: <%=pet.gender%></h3>
<div>
<br>
<br>
<% end %>
