<h1><%=@user.name%>'s Profile</h1>
<h3>Username: <%=@user.username%></h3>
<h3><%=@user.name%>'s Pets</h3>
<p>
<%@user.pets.each do |pet|%>
<%=link_to pet.name, pet_path(pet)%>
<br>
<% end %>
</p>


<%= link_to "Add Your Pet", new_pet_path %><br><br>
<%= link_to "Book Appointment", new_appointment_path %><br><br>
<%= link_to "Check Pet Schools", schools_path %><br><br>
<%= link_to "Search for Classes", schools_path %>

