<h1><%=@user.name%>'s Profile</h1>
<h3>Username: <%=@user.username%></h3>
<h3><%=@user.name%>'s Pets</h3>
<p>
<%@user.pets.each do |pet|%>
<%=link_to pet.name, pet_path(pet)%>
<br>
<br>
<% end %>
</p>




<%= button_to "Add Your Pet", new_pet_path, :method => :get %><br><br>
<%= button_to "Book Appointment", new_appointment_path, :method => :get %><br><br>
<%= button_to "Check Pet Schools", schools_path, :method => :get %><br><br>
<%= button_to "Search for Classes", lessons_path, :method => :get %>

