<h1><%=@user.name%>'s Profile</h1>
<h3>Username: <%=@user.username%></h3>
<h3><%=@user.name%>'s Pets</h3>
<p>
<%@user.pets.each do |pet|%>
<%=link_to pet.name, pet_path(pet)%>
<br>
<% end %>
</p>
<br>
<%=button_to "Find a class for your pet", lessons_path, :method => :get%>
