<h1><%=@user.name.capitalize%>'s Profile</h1>
<br><br>
<div class="page">
<h3>Username: <%=@user.username%></h3>
<br>
<h3><%=@user.name.capitalize%>'s Pets</h3>
<p>
<div style='display: flex; flex-direction: row; flex-wrap: wrap;'>
<%@user.pets.each do |pet|%>

<div class="card" style="width: 20rem; height:20%; margin-right:5%;">
  <img class="card-img-top" src="<%=pet.img_url%>" style="height: 65%; max-height: 200px;">
  <div class="card-body">
    <p class="card-text" style="text-align:center; font-size:14pt"><%=link_to pet.name.capitalize, pet_path(pet)%></p>
    
  </div>
</div>
<% end %>
</p>
</div>
</div>
<br>
<%= button_to "Add a Pet", new_pet_path, :method => :get %>
<%= button_to "Book Appointment", new_appointment_path, :method => :get %>
<%= button_to "Check Pet Schools", schools_path, :method => :get %>



