<h1><%= @lesson.name %></h1>
<p>Date and time: <%= Time.at(@lesson.date).strftime("%B %e, %Y at %I:%M %p") %></p>
<p>Capacity: <%= @lesson.capacity %></p>
<p>Price: $<%= @lesson.price %></p>
<p>About this class: <%= @lesson.description %></p>
<%=button_to "Return to school page", school_path(@lesson.school), :method => :get%>
