<h1>Advanced Search</h1>

<%= form_for @search do |f| %>

<%= f.label :keywords %>
<%= f.text_field :keywords %>
<br><br>
<%= f.label :species %>
<%= f.text_field :species %>
<br><br>
<%= f.label :min_price, "Min Price" %>
<%= f.text_field :min_price, size: 10 %>
<br><br>
<%= f.label :man_price, "Max Price" %>
<%= f.text_field :max_price, size: 10 %>
<br><br>
<%= f.submit "Search"%>
<% end %>
<br>
<%= button_to 'Go Back to Classes', lessons_path, :method => :get %>