
<br>
<h1><%=@school.name%></h1>
<br><br>
<div class="page">
<h3>About <%=@school.name%></h3>
<br>
<h4><%=@school.description%></h4>
<br>
<%if @school.lessons.count > 0%>
<h3><%=@school.name%> offers the following courses.</h3>
<h4>
<%@school.lessons.each do |lesson|%>
<br>
<%=link_to lesson.name, lesson_path(lesson)%>
<br>
<% end %>
<%else%>
<h4>This school does not currently offer any classes.</h4>
<%end%>
</h4>
<br>
<%=button_to "See all schools", schools_path, :method => :get%>
<br>
</div>
<footer>
<br>
<h4><%=@school.name%> | <%=@school.location%> | <%=number_to_phone(@phone)%> </h4> 
<br>
</footer>




