<br>
<h1>Your Pet's Class</h1>
<div class="page">
<br><br>
<h3>This appointment is for <%=@appointment.pet.name%>.</h3>
<br>
<h3>Class: <%=@appointment.lesson.name%></h3>
<br>
<h3>Date: <%=@appointment.lesson.date.strftime("%B %e, %Y")%></h3>
<br>
<h3>Location: <%=@appointment.lesson.school.location%></h3>
<br>
<%=button_to "Cancel", @appointment, :method => :delete%>
<%=button_to "Return to Homepage", user_path(@user), :method => :get%>
</div>