<!DOCTYPE html>
<html>
  <head>
    <title>PetTrainingSchool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%if @user%>
  <nav><a href='<%=user_path(@user)%>'>My Profile</a> | <a href='<%=user_pets_path(@user)%>'>My Pets</a> | <a href='<%=schools_path%>'>Find a School</a> | <a href='<%=lessons_path%>'>Find a Class</a></nav>
  <% end %>
    <%= yield %>

  </body>
</html>
